* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}